.donation-holder {
    display:flex;
    margin: 0px 0px 10px 0px;
    padding: 20px 10px 20px 10px;
    background-color: #082032;
    border-radius: 20px;
}

.donation-image {
    margin:10px 40px 10px 40px;
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.donation-information {
    flex:3;
    color:white;
    padding:10px 30px 10px 30px;
    border-left: 1px solid #3FA796;
}

.donation-image img {
    height:auto;
    width:100px;
    border-radius: 50%;
}