.navbar {
    background-color: #2C394B;
    color:white;
    display:flex;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color:white;
    transition: 0.5s;
}

ul li a:hover {
    color:#3FA796;
}

ul li a.active {
    border-bottom: 1px solid #3FA796;
}


.image {
    flex:1; 
}

.links {
    flex:1;
}

.navbar-image {
    margin:5px 0px 0px 50px;
}

.links ul {
    display:flex;
    justify-content: center;
    align-items: center;
}

.links ul li {
    margin:0px 20px 0px 20px;
}

button {
    background-color:#3FA796;
    border:1px solid #3FA796;
    border-radius: 20px;
    padding:8px 12px 8px 12px;
    transition:0.5s;
    color:black;
    cursor: pointer;
}

button:hover {
    background-color: #2C394B;
    color:white;
    border:1px solid #3FA796;
}

.links a:active {
    /* text-decoration: underline; */
    border-bottom: 1px solid aqua;
}

.navbar-image img {
    width:70px;
    height:55px;
    opacity: 2;
}


.profile-image img {
    width:40px;
    height:40px;
}