.currProg-main {
    margin:0px 170px 0px 170px;
}

.currprog-title {
    font-size: 40px;
    color:white;
    text-align: center;
    margin-top:50px;
    margin-bottom:10px;
}

.event-banner {
    color:white;
    display:flex;
    flex-wrap: wrap;
    margin-top:20px;
    border-radius: 50px;
    background-color: #2C394B;
    transition:0.3s;
}

.event-banner:hover {
    transform: scale(1.02);
}

.picture {
    flex:1;
    display:flex;
    justify-content: center;
    align-items:center;
}

.event-detail-parent {
    flex:1;
    margin:40px 0px 20px 40px;
}

.event-details div {
    font-size: 30px;
}

.event-button {
    display:flex;
    margin-right:50px;
    justify-content: flex-end;
    align-items: center;
}

.event-button button {
    height:50px;
    width:150px;
    border-radius: 50px;
    font-size: 20px;
}

