
.everything-holder {
    display:flex;
}

.vaccancy-form-holder {
    background-color: #334756;
    color:white;
    flex:1;
    padding:30px 150px 30px 150px;
}

.blank-space {
    flex:1;
    background-color: #334756 ;
}

.form-parts {
    margin: 20px 0px 20px 0px;
    display: flex;
}

.form-parts label {
    flex:1;
}

.form-parts input {
    margin: 0px 150px 0px 0px;
    padding-left: 15px;
    height: 25px;
    width:auto;
    border-radius: 20px;
    flex:2;
}

.form-parts textarea {
    margin: 0px 150px 0px 0px;
    height: 25px;
    width:auto;
    border-radius: 20px;
    flex:2;
}