.vacancy-Card {
    display:flex;
    background-color: #2C394B;
    margin:60px 0px 60px 0px;
    padding:20px 0px 20px 0px;
    border-radius: 30px;
}

.vacancy-image {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.vacancy-image img {
    height:180px;
    width:auto;
    border-radius: 50%;
}

.vacancy-description {
    flex:3;
    margin-left:50px;
    border-left:1px solid #3FA796
}

.description {
    font-size:18px;
    opacity: 3;
}

.view-details-btn {
    display:flex;
    justify-content: flex-end;
    margin: 0px 40px 20px 0px;
}

.view-details-btn button {
    height:40px;
    width:150px;
    font-size:18px;
}

